[scripts]
train = "python -m blah train"
analyze = "python -m blah analyze"
ptt = "python -m blah-ptt"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "~=8.1"
librosa = "~=0.10"
numpy = "~=1.26"
pyaudio = "~=0.2"
scikit-learn = "~=1.4"
toml = "~=0.10"
types-toml = "~=0.10"

[dev-packages]
flake8 = "*"
mypy = "*"
pylint = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.8"
