[scripts]
train = "python -m blah train"
analyze = "python -m blah analyze"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
librosa = "~=0.10.1"
numpy = "~=1.26.3"
scikit-learn = "~=1.4.0"
toml = "~=0.10.2"
types-toml = "~=0.10.8.7"

[dev-packages]
mypy = "*"
pylint = "*"
flake8 = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.8"
